.detail-view {
	width:80%;
	text-align: left;
	margin: 0 auto;
}
.detail-view button {
	display: inline-block;
	background: #333;
	color: white;
	text-decoration: none;
	padding: 7px 10px;
	margin-top: 5px;
}

.content {
	position: relative;
}
.content img {
	position: absolute;
	top: 0px;
	right: 0px;
}